---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Material Icon Searcher</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
	<link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/assets/main.css">
</head>
<body>
	{{ content }}
	<script src="/assets/main.js"></script>
</body>
</html>