---
---
.icons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px 0;
}
.icon {
	border-bottom: 1px dotted #888;
    padding: 2px;
    line-height: 1.6;
    width: 30%;
    font-family: monospace;
    display: flex;
    flex-direction: column;

    code {
	    padding: 0;
    }

    &.shh {
    	opacity: 0.2;
    }

    &.searched {
    	.disp-icon {
		    font-size: 2.4em;
    	}
    }

	.tags {
		font-size: 0.8em;
		opacity: 0.6;
	}

	button {
	    padding: unset;
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    width: 100%;
	    background: unset;
	    position: relative;
	    text-align: left;
	    margin: 0;
	    transform: unset !important;

	    .copy-icon {
    	    font-size: .7em;
		    line-height: 1em;
		    margin-left: .5em;
		    display: none;
	    }

	    &:hover {
	    	.copy-icon {
	    		display: inline-block;
	    	}
	    }
	}
}
.icon-main {
	width: 100%;
    display: flex;
    justify-content: space-between;

}
.search {
    max-width: 500px;
    margin: 30px auto 40px;
}
.input {
    width: 100%;
    height: 40px;
}